@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
  /* Base */
  --color-black: #0B0B0B;
  --color-white: #FFFFFF;
  --color-gray:  #2A2A2A;

  /* Destaque */
  --color-red:   #8B0000;
  --color-gold:  #C9A227;
}

@font-face {
    font-family: 'font';
    src: url(font/JudoKidsDemo-Regular.otf);
}

@font-face {
    font-family: 'japa';
    src: url(fonts/Hoshiko\ Satsuki.ttf);
}

@font-face {
    font-family: 'gang';
    src: url(fonts/go3v2.ttf);
}

body {
    background-color: var(--color-gray);
}

.app-header {
    background-color: var(--color-black);
    margin-bottom: 5px;
}

.app-header h1, p.slogan {
    margin: auto;
    text-align: center;
    font-family: 'gang';
    border-left: 8px solid var(--color-white);
    border-right: 8px solid var(--color-white);
    font-weight: 100;
    padding: 5px;
    color: var(--color-white);
    background-color: #8B0000;
    width: 40%;
}

#profile-header {
    position: relative;
}

.img-fundo {
    display: flex;
    justify-content: center;
    height: 300px;
}

.img-fundo img{
    height: 100%;
    width: 98%;
    border-radius: 8px;
}

.img-perfil {
    height: 150px;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translateX(-50%)
}

.img-perfil img {
    height: 100%;
    border-radius: 50%;
    border: solid 5px blue;
    outline: solid 3px white;
}

.nome {
    font-family: 'japa';
    color: var(--color-white);
    margin-top: 50px;
    text-align: center;
    font-size: 25px;
}

nav {
    margin-top: 10px;
    background-color: var(--color-white);
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: var(--color-black);
    font-family: 'japa';
    transition: ease-in-out 0.3s;
}

nav a:hover {
    color: var(--color-white);
    background-color: var(--color-black);
    padding: 5px;
    border-radius: 5px;
}

#mapa {
    display: flex;
    justify-content: center;
}

iframe {
    margin-top: 20px;
    border-radius: 8px;
}

.treinos {
    font-family: 'gang';
}

.treinos h1 {
    font-family: 'japa';
    text-align: center;
    margin-top: 10px;
    color: var(--color-white);
}

.add-treino {
    font-size: 30px;
    margin: 10px 10px 10px 10px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    background-color: var(--color-white);
    transition: ease-in-out .3s;
}

.add-treino:hover {
    font-size: 35px;
}

.add-treino::before {
  content: "+";
  font-family: sans-serif;
  font-weight: bolder;
  margin-right: 6px;
}

.filtro-treinos {
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--color-black);
    color: var(--color-white);
    width: fit-content;
}

.filtro-treinos ul {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  list-style: none;
}

.filtro-treinos details[open] ul {
  opacity: 1;
  transform: translateY(0);
}

.tabela-treinos {
    background-color: white;
    margin: 10px 10px 30px 10px;
    padding: 10px;
    border-radius: 8px;
    align-items: 10px;
    font-size: 20px;
    line-height: 45px;
}

.tabela-treinos p {
    border-bottom: 1px solid var(--color-black);
}

input[type="checkbox"] {
  accent-color: var(--color-gold); /* sua cor */
}



footer {
    background-color: #8B0000;
    padding: 10px;
    margin-top: 10px;
}

footer p {
    font-family: 'gang';
    color: var(--color-white);
    text-align: center;
}